@media screen and (max-width: 300px) {
	#gallery li {
		margin: 20px auto;
		width: 100%;
	}

}

@media screen and  (max-width: 700px) {
	#gallery li:nth-child(5n) {
		clear: left;
	}



}

@media screen and (min-width: 700px) {
	
	/***************************
	TWO COLUMN LAYOUT
	****************************/
	
	.profile-photo {
		float: left;
		margin: 0 5% 15px 0;
	}

	#primary {
		width: 50%;
		float: left;
		}
	
	#secondary {
		width: 40%;
		float: right;
		}
	
	/***************************
	3 images * 5% margins each = 15%
	100% of the page width - 15% = 85% taken up by images
	85 / 3 images = 28.333333333333 (don't round this up, because a computer doesn't care)
	****************************/

	/***************************
	PAGE: PORTFOLIO
	****************************/
	
	#gallery li {
		width: 28.3333%;
		}

	#gallery li:nth-child(4n) {
		clear: left;
		}

	
	
	/***************************
	PAGE: ABOUT
	****************************/
		
	}
@media screen and (min-width: 660px) {
	
	
	/***************************
	HEADER
	****************************/
	
	
	nav {
		background: none;
		float: right;
		font-size: 1.125em;
		margin-right: 5%;
		text-align: right;
		width: 45%;
		}
		
	#logo {
		float: left;
		margin-left: 5%;
		text-align: left;
		width: 45%;
		}
	
	h1 {
		font-size: 2.5em;
		}
	
	h2 {
		font-size: 0.825em;
		margin-bottom: 20px;
		}
		
	header {
		border-bottom: 5px solid #0a1b4e;
		margin-botom: 60px;
		}
		
	}
